@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "~pier-design-system/dist/styles";
html,
body {
  padding: 0;
  margin: 0;
  background-color: #f1f3f3;
  font-family: "Mulish", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.main-heading {
  margin: 3rem 3rem 2rem 3rem;
}

.card-style {
  padding: 2rem;
  margin: 1.5rem;
}

.client-section {
  display: flex;
  padding-bottom: 1.5rem;
}

.sub-heading {
  margin-bottom: 10px;
}

.card {
  margin: 1.5rem 3rem 0.5rem 3rem;
}

.client-name-input {
  width: 140%;
  padding-right: 4rem;
}

.campaign-name-input {
  width: 180%;
  padding-right: 4rem;
}

.campaign-budget-input {
  width: 75%;
}
