@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "~pier-design-system/dist/styles";
html {
}
body {
  padding: 0;
  margin-bottom: 0;
  font-family: "Mulish", sans-serif;
  padding: 1rem 2.75rem 3rem 2.75rem;
  background: url("/bg.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f3f3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.main-heading {
  margin: 5rem 3rem 2rem 3rem;
}

.card-style {
  padding: 2rem;
}

.client-section {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
}

.add-on-section {
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 0rem;
}

.buttons-section {
  padding-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.sub-heading {
  margin-bottom: 10px;
}

.card {
  margin: 1.5rem 3rem 0.5rem 3rem;
}

.result-card {
  margin: 1.5rem 3rem 0.5rem 3rem;
  background-color: #f7f8f8;
}

.client-name-input {
  flex: 1 1 auto;
  margin: 0 0.5rem;
}

.campaign-name-input {
  flex: 1 1 auto;
  margin: 0 0.5rem;
}

.campaign-budget-input {
  flex: 0 1 15%;
  margin: 0 0.5rem;
}

.client-name {
  flex: 1 1 auto;
  margin: 0 0.5rem;
}

.campaign-name {
  width: 40%;
  padding-right: 4rem;
}

.num-units-input {
  flex: 0 1 15%;
  margin: 0 0.5rem;
}

.add-on-input {
  width: 24%;
}

.toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 15%;
  margin: 0 0.5rem;
}

.clear-all-button {
  margin-left: 0.75rem;
}

.plus-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-top: 0;
}

footer {
  display: flex;
  padding: 5rem 3rem;
  justify-content: flex-end;
}

.pier-body-text.pier-body-text--xs.pier-body-text--light {
  margin-bottom: 0;
}

.client-section div:first-child {
  margin-left: 0;
}
.client-section div:last-child {
  margin-right: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    padding: 0.5rem;
  }
  .main-heading {
    margin: 0 0 0.5rem 0;
  }
  .card,
  .result-card {
    margin: 0rem 0rem 0.5rem 0rem;
  }
  .card-style {
    padding: 0.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    padding: 1rem;
  }
  .main-heading {
    margin: 1rem 1rem 1rem 1rem;
  }
  .card,
  .result-card {
    margin: 0rem 0rem 1rem 0rem;
  }
  .card-style {
    padding: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    padding: 1rem 2.75rem 3rem 2.75rem;
  }
  .main-heading {
    margin: 1rem 1rem 1rem 1rem;
  }
  .card-style {
    padding: 2rem;
  }
}
