@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap");
@import url("pier-design-system/dist/styles.css");

.outer-content {
  width: 100%;
  flex: 1 1 0%;
  overflow: auto;
  box-sizing: border-box;
  padding: 2rem;
}

.inner-content {
  max-width: 1200px;
  margin: 0px auto;
}

.pier-card {
  margin-bottom: 1rem;
}

.heading-style {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.section-style {
  padding: 2rem;
}

.home-main-card {
  background-image: url("/main-graphic.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem rgba(138, 155, 163, 0.15);
}

.main-sub-card {
  display: flex;
}

.main-card-style {
  width: 33%;
  height: 300px;
  background-color: #f7f8f8;
  border-radius: 1rem;
  padding: 2rem;
}

.main-button-wrapper {
  position: absolute;
  bottom: 0;
  width: 250px;
  margin-bottom: 2rem;
}

.rates-select-wrapper {
  display: flex;
  width: 100%;
}

.custom-body-text {
  width: 40%;
}

#design-buckets {
  font-family: "Mulish", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 0.625rem 0.75rem;
  text-align: left;
  background-color: #ffffff;
  color: #0e1e2a;
  border-top: solid 1px #d0d6d8;
  border-bottom: solid 1px #d0d6d8;
}

tr {
  background-color: #ffffff;
  color: #53626d;
}

td {
  padding: 0.625rem 0.75rem;
}

tr:last-child {
  border-bottom: solid 1px #d0d6d8;
}

tr:nth-child(odd) {
  background-color: #f7f8f8;
}

.threshold-card-wrapper {
  display: flex;
}

.campaign-minimum-wrapper {
  width: 28.5%;
}

.exception-section-wrapper {
  display: flex;
}

.exception-info-wrapper {
  background-color: #f7f8f8;
  border-radius: 12px;
  padding: 2rem;
  width: 71.5%;
  margin-bottom: 5rem;
}

.exception-section {
  display: flex;
}

.exception-text-1 {
  margin-left: 2rem;
  padding-right: 2rem;
}

.exception-text-2 {
  margin-left: 2rem;
}

.spend-select-wrapper {
  display: flex;
  width: 100%;
}

.spend-card-wrapper {
  display: flex;
}

.spend-heading-wrapper {
  display: block;
}

.spend-heading-section-wrapper {
  display: block;
  align-items: center;
  margin-right: 2rem;
  width: 25%;
}

.custom-card-description-box-1 {
  width: 55%;
  padding: 2rem;
  border-radius: 12px;
  background-color: #f7f8f8;
}

.custom-card-description-box-2 {
  width: 45%;
  padding: 2rem;
  border-radius: 12px;
  background-color: #f7f8f8;
  margin-left: 1.25rem;
}

.units-wrapper {
  display: flex;
  width: 100%;
}

.custom-creatives-wrapper {
  display: flex;
  width: 100%;
}

.custom-sla-info-wrapper {
  width: 55%;
  padding: 2rem 2rem 2rem 4rem;
}

.custom-card-description-box {
  width: 50%;
  padding: 2rem;
  border-radius: 12px;
  background-color: #f7f8f8;
}

.custom-card-wrapper {
  display: flex;
}

table {
  table-layout: fixed;
  width: 100%;
}

.demo-link-wrapper {
  margin-bottom: 2rem;
}

.study-card-description-box {
  width: 100%;
  padding: 2rem;
  border-radius: 12px;
  background-color: #f7f8f8;
}

.study-card-description-flexbox {
  margin-bottom: 2rem;
  display: flex;
}

.study-description {
  width: 60%;
  padding-right: 5rem;
}

.study-studypartners {
  width: 40%;
}

.study-consumer-section-wrapper {
  display: flex;
  margin-top: 1.5rem;
}

.study-consumer-section {
  width: 60%;
  padding-right: 5rem;
}

.study-campaign-characteristics-section {
  width: 40%;
}

.study-caveats-wrapper {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.study-b2b-tech {
  width: 60%;
  padding-right: 5rem;
}

.study-household-names {
  width: 40%;
}

.study-middle-wrapper {
  display: flex;
}

.study-candidates-wrapper {
  margin-top: 1.5rem;
  width: 60%;
  padding-right: 5rem;
}

.campaign-card-style {
  padding: 2rem;
  display: flex;
}

.study-caveats-wrapper-2 {
  width: 40%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.campaign-section-wrapper {
  background-color: #f7f8f8;
  border-radius: 12px;
  width: 30%;
  padding: 1.5rem;
  margin: 1.5rem;
}

.plan-section-wrapper {
  width: 70%;
  padding: 1.5rem;
  margin: 1rem 0rem 1rem 0rem;
}

.generator-button-wrapper {
  float: right;
  margin-top: 1rem;
}

.result-wrapper {
  display: flex;
  margin-bottom: 1.25rem;
}

.sla-wrapper {
  display: flex;
  width: 100%;
}

.sla-card-style-design {
  width: 50%;
  background-color: #f7f8f8;
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 1rem;
}

.sla-card-style-ces {
  width: 50%;
  background-color: #f7f8f8;
  border-radius: 1rem;
  padding: 1rem;
}

.client-output-card {
  display: flex;
  width: 100%;
  align-items: center;
  border: solid 1px #08d18b;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-right: 1.5rem;
}

.spend-heading {
  font-size: 3rem;
  margin-bottom: 0;
}

.output-spend-heading {
  font-size: 3rem;
  margin-bottom: 0;
}

.client-section {
  margin-top: 1.25rem;
  display: block;
  width: 100%;
  justify-content: space-between;
}

.campaign-name-input {
  flex: 1 1 auto;
  margin: 0 0 2rem 0;
}

.campaign-budget-input {
  flex: 0 1 15%;
  margin: 0 0 2rem 0;
  width: 60%;
}

.input-header-wrapper {
  display: block;
}

.spend-sla-section {
  background-color: #f7f8f8;
  border-radius: 1rem;
  width: 40%;
  margin-top: 1.25rem;
  padding: 2rem;
}

.rate-sla-section {
  display: flex;
  border-radius: 1rem;
  width: 60%;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  padding: 1.25rem 0 0 1.25rem;
}

.spend-card {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 50%;
}

.design-card {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 25%;
  text-align: center;
}

.plan-section {
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: space-between;
}

.study-section {
  display: flex;
  padding: 0.5rem 0rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.add-on-section {
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 0rem;
}

.buttons-section {
  padding-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.sub-heading {
  margin-bottom: 10px;
}

.result-card {
  background-color: #fff;
  display: block;
}

.sla-section {
  width: 20%;
}

.client-name-input {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
}

.unit-name-input {
  display: flex;
  margin: 0;
  width: 60%;
}

.client-name {
  flex: 1 1 auto;
  margin: 0 1.25rem 0 0;
}

.campaign-name {
  width: 40%;
  padding-right: 4rem;
}

.num-units-input {
  display: flex;
  flex: 0 1 32%;
  margin: 0 0.5rem;
}

.add-on-input {
  width: 100%;
}

.toggle-button {
  margin: 0.9rem 0 0 1rem;
}

.study-toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  flex: 0 1 5%;
}

.clear-all-button {
  margin-left: 0.75rem;
}

.plus-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-top: 0;
}

footer {
  display: flex;
  padding: 5rem 3rem;
  justify-content: flex-end;
}

.pier-body-text.pier-body-text--xs.pier-body-text--light {
  margin-bottom: 0;
}

.client-section div:first-child {
  margin-left: 0;
}
.client-section div:last-child {
  margin-right: 0;
}

.creative-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.launch-gantt {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: 1px solid #e3e7e8;
  border-radius: 1rem;
  padding: 0.5rem;
}

.gantt-row,
.gantt-header {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}

.gantt-task,
.gantt-task-header {
  flex: 0 0 20%;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5rem;
}

.gantt-cell {
  flex: 1 1 auto;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.25rem;
}

.gantt-header-cell {
  flex: 1 1 0%;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-left: 1px solid #f0f0f0;
}

.gantt-cell:last-child {
  border-right: none;
}

.gantt-row:last-child .gantt-cell,
.gantt-row:last-child .gantt-task {
  border-bottom: none;
}

.gantt-cell--filled {
  background-color: #08d18b;
}

.pier-body-text--xxs {
  font-size: 0.65rem;
}

.filled {
  background-color: #08d18b;
  height: calc(100% - 20px);
  width: calc(100% + 2px);
  position: absolute;
  top: 10px;
  left: -1px;
  z-index: 9;
}

.filled::after {
  white-space: pre;
}

.-first {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: calc(100% - 2px);
  left: 2px;
}

.-last {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: calc(100% - 2px);
  right: 2px;
}

.-last.-first {
  width: calc(100% - 4px);
}

.-odd {
  background-color: #f0f0f0;
  border-bottom: 1px solid white;
}

.-even:first-child {
  border-left: 1px solid #bcc5ca;
}

[data-tooltip]::after {
  /* white-space: pre; */
}

.gantt-legend {
  display: flex;
  justify-content: space-around;
  padding: 0.75rem;
}
.gantt-key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.gantt-color {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

[data-owner="Account Manager"] {
  background-color: #25b9ef;
}
[data-owner="Campaign Manager"] {
  background-color: #08d18b;
}
[data-owner="Design Manager"] {
  background-color: #8f33aa;
}
[data-owner="Designer"] {
  background-color: #176fb3;
}
[data-owner="Creative Engineer"] {
  background-color: #358996;
}

.ces-card {
  margin-bottom: 1rem;
  width: 25%;
}

.sla-heading {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  font-size: 70px;
  color: #08d18b;
}

.sla-result-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.meter-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.meter-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.budget-meter-spend {
  font-size: 0.9rem;
  color: #53626d;
  font-weight: bold;
  z-index: 5;
  margin-bottom: 0;
}

.spend-meter {
  width: 100%;
  height: 1.6rem;
  border-radius: 3rem;
  background-color: #e3e7e8;
  margin-top: 1rem;
}

.spend-meter:after {
  content: attr(data-spend);
  position: absolute;
  left: 10px;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

.spend-meter__filled {
  height: 100%;
  width: attr(data-filled);
  border-radius: 3rem;
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.spend-meter__icon {
  position: absolute;
  top: calc(50% - 1.5rem);
  transform: translateX(-1.5rem);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2px solid;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 2;
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #e24550;
  border-color: #e24550;
}

.spend-meter__icon--green {
  color: #08d18b;
  border-color: #08d18b;
}

.spend-meter__icon i {
  font-size: 1.6rem;
}

.spend-meter__filled--red {
  background: linear-gradient(
    90deg,
    rgba(252, 165, 34, 1) 0%,
    rgba(226, 69, 80, 1) 100%
  );
}

.spend-meter__filled--green {
  background: linear-gradient(90deg, #08d18b 0%, #25b9ef 100%);
}

.spend-meter__icon-holder {
  position: absolute;
  top: 0;
  height: 100%;
  left: 1rem;
  right: 1rem;
}

.custom-select-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.custom-card-heading-wrapper {
  display: flex;
  justify-content: space-between;
}

.custom-page-select {
  display: flex;
}

.sla-row-1 {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  background-color: #f7f8f8;
  padding: 0.5rem;
}

.sla-row-2 {
  display: flex;
  width: 100%;
  padding: 0.5rem;
}

.sla-row-3 {
  display: flex;
  width: 100%;
  background-color: #f7f8f8;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

ul {
  padding-left: 0;
}

.nav-section {
  width: 260px;
  position: relative;
  z-index: 99;
  transition: all 0.2s ease-in-out 0s;
}

.nav-section.closed {
  width: 60px;
  position: relative;
  z-index: 99;
  transition: all 0.2s ease-in-out 0s;
}

.spend-meter-subheading {
  font-weight: bold;
  margin-bottom: 0rem;
}

.creative-row-padding {
  padding: 0.75rem;
}

.creative-row-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.custom-add-row-wrapper {
  width: 40%;
  display: flex;
}

.studies-subtext {
  color: rgb(165, 178, 184);
  display: block;
}

.studies-row-header-wrapper {
  margin-bottom: 1.25rem;
  display: block;
}

.study-row-wrapper {
  display: flex;
  margin-bottom: 1.25rem;
}

.no-studies-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.client-name-header {
  margin-bottom: 0.5rem;
}

.spend-rate-wrapper {
  display: flex;
}

@media only screen and (max-width: 1230px) {
  .outer-content {
    padding: 1.5rem;
  }
  .home-main-card {
    background-image: url("/main-graphic-tablet.svg");
    border-radius: 1rem;
    height: 450px;
  }

  .main-sub-card {
    display: block;
  }

  .main-card-style {
    width: 100%;
    height: 100%;
    background-color: #f7f8f8;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
  }

  .main-button-wrapper {
    position: relative;
    margin-bottom: 0rem;
  }

  .threshold-card-wrapper {
    display: block;
  }

  .campaign-minimum-wrapper {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .exception-info-wrapper {
    width: 100%;
  }

  .exception-section-wrapper {
    display: block;
  }

  .exception-section {
    margin-bottom: 1rem;
    display: flex;
  }
  .spend-card-wrapper {
    display: block;
    width: 100%;
  }

  .result-wrapper {
    display: block;
    margin-bottom: 1.25rem;
  }

  .units-wrapper {
    display: flex;
    width: 100%;
  }

  .spend-heading-wrapper {
    display: flex;
  }
  .spend-subheading-wrapper {
    display: block;
  }

  .spend-heading-section-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    width: 100%;
    justify-content: space-between;
  }

  .campaign-card-style {
    padding: 1.5rem;
    display: block;
  }

  .spend-select-wrapper {
    display: block;
    width: 100%;
  }

  .custom-card-description-box-1 {
    width: 50%;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #f7f8f8;
  }

  .custom-card-description-box-2 {
    width: 50%;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #f7f8f8;
  }

  .custom-sla-info-wrapper {
    width: 55%;
    padding: 2rem 0rem 2rem 2rem;
  }

  .client-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .campaign-name-input {
    flex: 1 1 auto;
    margin: 0 1rem 0 0;
  }

  .campaign-budget-input {
    flex: 0 1 15%;
    margin: 0;
    width: 60%;
  }

  .study-description {
    padding-right: 2.5rem;
  }

  .input-header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .plan-section-wrapper {
    width: 100%;
    padding: 1rem;
    margin: 0rem;
  }

  .spend-sla-section {
    padding: 1.5rem;
  }

  .rate-sla-section {
    display: flex;
    border-radius: 1rem;
    width: 60%;
    margin-top: 1.25rem;
    margin-left: 0.5rem;
  }

  .gantt-task,
  .gantt-task-header {
    flex: 0 0 24%;
    padding: 0.35rem;
    font-size: 14px;
  }

  .gantt-header-cell {
    font-size: 13px;
  }

  .spend-meter-subheading {
    font-size: 0.9rem;
  }

  .campaign-section-wrapper {
    width: 100%;
    padding: 1.5rem;
    margin: 0rem;
  }

  .generator-button-wrapper {
    float: right;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
  }

  .client-output-card {
    width: 100%;
    border-radius: 12px;
    padding: 1.75rem;
    margin-bottom: 1rem;
  }

  .studies-section-style {
    padding: 1.25rem 1rem;
  }

  .study-candidates-wrapper {
    margin-top: 1.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (max-width: 821px) {
  .home-main-card {
    background-image: url("/main-graphic-tablet.svg");
    border-radius: 1rem;
    height: 450px;
  }

  .main-sub-card {
    display: block;
  }

  .section-style {
    padding: 1.5rem;
  }

  .main-card-style {
    width: 100%;
    height: 100%;
    background-color: #f7f8f8;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
  }

  .main-button-wrapper {
    position: relative;
    margin-bottom: 0rem;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  .custom-body-text {
    width: 100%;
  }

  .rates-select-wrapper {
    display: block;
  }

  .threshold-card-wrapper {
    display: block;
  }

  .campaign-minimum-wrapper {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .exception-info-wrapper {
    width: 100%;
  }

  .exception-section-wrapper {
    display: block;
  }

  .exception-section {
    display: flex;
  }

  th {
    padding: 0.625rem 0.75rem;
    text-align: left;
    background-color: #ffffff;
    color: #0e1e2a;
    border-top: solid 1px #d0d6d8;
    border-bottom: solid 1px #d0d6d8;
    font-size: 14px;
  }

  tr {
    background-color: #ffffff;
    color: #53626d;
    font-size: 13px;
  }

  td {
    padding: 0.625rem 0.75rem;
  }

  tr:last-child {
    border-bottom: solid 1px #d0d6d8;
  }

  tr:nth-child(odd) {
    background-color: #f7f8f8;
  }

  .spend-card-wrapper {
    display: block;
    width: 100%;
  }

  .spend-heading-wrapper {
    display: flex;
  }
  .spend-subheading-wrapper {
    display: block;
  }

  .spend-heading-section-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    width: 100%;
    justify-content: space-between;
  }

  .custom-sla-info-wrapper {
    width: 100%;
    padding: 2rem 1.25rem 1.25rem 1.25rem;
  }

  .units-wrapper {
    display: flex;
    width: 100%;
  }

  .custom-card-description-box-1 {
    width: 50%;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #f7f8f8;
  }

  .custom-card-description-box-2 {
    width: 50%;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #f7f8f8;
  }

  .custom-card-description-box {
    width: 100%;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #f7f8f8;
  }

  .campaign-section-wrapper {
    background-color: #f7f8f8;
    border-radius: 12px;
    width: 100%;
    padding: 1rem;
    margin: 0rem;
  }

  .spend-heading {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .output-spend-heading {
    font-size: 2.5rem;
    margin-top: 1.75rem;
  }

  .custom-card-wrapper {
    display: block;
  }

  .study-card-description-flexbox {
    margin-bottom: 2rem;
    display: block;
  }

  .study-description {
    width: 100%;
    padding-right: 0rem;
  }

  .study-studypartners {
    width: 100%;
  }

  .study-consumer-section-wrapper {
    display: block;
    margin-top: 1rem;
  }

  .study-consumer-section {
    width: 100%;
    padding-right: 0rem;
  }

  .study-campaign-characteristics-section {
    width: 100%;
    margin-top: 1rem;
  }

  .study-caveats-wrapper {
    display: block;
  }

  .study-b2b-tech {
    width: 100%;
    padding-right: 0rem;
  }

  .study-household-names {
    width: 100%;
  }

  .study-middle-wrapper {
    display: block;
  }

  .study-candidates-wrapper {
    margin-top: 1.5rem;
    width: 100%;
    padding-right: 0rem;
  }

  .study-caveats-wrapper-2 {
    width: 100%;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-top: 1px solid #d0d6d8;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: right;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  td:before {
    content: attr(data-title);
  }
}

@media only screen and (max-width: 600px) {
  .outer-content {
    padding: 1rem;
  }

  .section-style {
    padding: 1rem;
  }

  .heading-style {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .main-card-buttons-wrapper {
    display: flex;
    align-items: end;
  }

  .home-main-card {
    margin-top: 0.75rem;
    background-image: url("/main-graphic-mobile.svg");
    border-radius: 1rem;
    height: 450px;
  }

  .main-sub-card {
    display: block;
  }

  .main-card-style {
    width: 100%;
    height: 100%;
    background-color: #f7f8f8;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .main-button-wrapper {
    position: relative;
    margin-bottom: 0rem;
  }

  .main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 380px;
  }

  .exception-info-wrapper {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  .exception-section {
    margin-bottom: 0rem;
  }

  .exception-text-1 {
    margin-left: 0.75rem;
    padding-right: 0rem;
  }

  .exception-text-2 {
    margin-left: 0.75rem;
  }

  .spend-heading-section-wrapper {
    display: block;
    align-items: center;
    margin-right: 0rem;
    width: 100%;
    justify-content: space-between;
  }

  .units-wrapper {
    display: block;
    width: 100%;
  }

  .custom-card-description-box-1 {
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    background-color: #f7f8f8;
    margin-bottom: 1rem;
  }

  .custom-card-description-box-2 {
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    background-color: #f7f8f8;
    margin-left: 0rem;
  }

  .custom-creatives-wrapper {
    display: block;
    width: 100%;
  }

  .custom-card-description-box {
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    background-color: #f7f8f8;
  }

  .custom-sla-info-wrapper {
    width: 100%;
    padding: 2.35rem 1rem 1rem 1rem;
  }

  .demo-link-wrapper {
    margin-bottom: 0rem;
  }

  .study-card-description-box {
    padding: 1rem;
  }

  .campaign-card-style {
    padding: 1rem;
    display: block;
  }

  .input-header-wrapper {
    display: block;
  }

  .client-section {
    display: block;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
  }

  .plan-section-wrapper {
    padding: 0rem;
    margin: 1rem 0rem 1rem 0rem;
  }

  .creative-row-padding {
    padding: 0rem;
  }

  .creative-row-wrapper {
    display: block;
  }

  .unit-name-input {
    margin: 0 0 1rem 0;
    width: 100%;
  }

  .num-units-input {
    display: flex;
    margin: 0 0 1rem 0;
    justify-content: space-between;
  }

  .creative-version-count-input {
    width: 40%;
  }

  .add-on-section {
    display: flex;
    padding: 0 0 1rem 0;
  }

  .custom-add-row-wrapper {
    width: 100%;
    display: flex;
  }

  .plus-alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    padding-top: 0;
  }

  .studies-section-style {
    padding: 1.25rem 0.75rem;
  }

  .studies-row-header-wrapper {
    margin: 0.25rem 0 1.5rem 0;
    display: block;
  }

  .studies-subtext {
    color: rgb(165, 178, 184);
    display: none;
  }

  .study-row-wrapper {
    display: block;
    margin-bottom: 1.25rem;
  }

  .result-wrapper {
    display: block;
    margin-bottom: 1.25rem;
  }

  .client-output-card {
    display: block;
    width: 100%;
    align-items: center;
    border: solid 1px #08d18b;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 0 1rem 0;
  }

  .output-spend-heading {
    font-size: 1.75rem;
    margin-top: 0rem;
  }

  .client-name-header {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
  }

  .client-name {
    flex: 1 1 auto;
    margin: 0 0 1.25rem 0;
  }

  .sla-card-style-design {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .sla-card-style-ces {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .sla-wrapper {
    display: block;
  }

  .spend-rate-wrapper {
    display: block;
  }

  .spend-sla-section {
    width: 100%;
    padding: 1rem;
  }

  .rate-sla-section {
    display: flex;
    border-radius: 1rem;
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0rem;
  }

  .result-card {
    display: none;
  }
}
